* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.accordion {
    margin: 0;
    padding: 0;
    flex: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}